@import "tailwindcss";
@plugin "daisyui" {
	themes: nord, dracula;
}

:root {
	--font-heading: "Montserrat", sans-serif;
	--font-sans: "Inter", sans-serif;
}

body {
  @apply antialiased;
}

.page-enter-active,
.page-leave-active {
  transition: all 0.15s ease-out;
}

.page-enter-from,
.page-leave-to {
  opacity: 0;
  transform: translateY(-10px);
}

@layer base {
 .landing-button {
	@apply cursor-pointer flex-1 flex flex-col items-center justify-center transition-all duration-200 text-2xl font-bold p-8
 }
 .landing-button .lTextAdmin {
	@apply text-primary-content hover:text-accent-content;
 }
 .landing-button .lTextUser {
	@apply text-secondary-content hover:text-accent-content;
 }
}

@layer utilities {
}

.page-enter-active,
.page-leave-active {
	@apply transition-opacity ease-in-out duration-300;
}
.layout-enter-active,
.layout-leave-active {
	@apply transition-opacity ease-in-out duration-500;
}
.page-enter-from,
.page-leave-to,
.layout-enter-from,
.layout-leave-to {
	@apply opacity-0;
}
